aside.sidebar
  div.avatar
    img(width='128' height='128' src='image/avatar.png')
  div.username
    span Admin
  div
    a(class="btn btn-default" href="users/logout") Logout
section.content(ng-controller='AdminController')
  div.form-search.form-group
    label(for='search') Search user
    p
      input(type='text' class='form-control' id='search' ng-model='find' placeholder='Find user')
  .list-result-section
    table(class="table table-hover table-bordered")
      thead
        tr
          td Username
          td Status
          td Action
      tbody
        tr(ng-repeat='item in list | filter:find' ng-class="{ 'block': item.status == 0, 'remove': item.status == -1 }")
          td {{ item.username }}
          td {{ item.status }}
          td
            p
              input(type='checkbox')
              | Block
            p
              input(type='checkbox')
              | Remove