block content
 h1(class='text-center')
 | {{title}}
 hr
 .col-md-2
  .thumbnail
   a(href="#")
    img(src="uploads/img_1.jpg" alt="...")
   .caption
    .albumname Nature
 .col-md-2
  .thumbnail
   a(href="#")
    img(src="uploads/img_1.jpg" alt="...")
   .caption
    .albumname City
 .col-md-2
  .thumbnail
   a(href="#")
    img(src="uploads/img_1.jpg" alt="...")
   .caption
    .albumname Sport