.row.sidebar
  aside(ng-if='success')
    div(class='personal-block')
      p(class='text-center')
        div.avatar
          img(width='128' height='128' src='image/bart.gif')
      p.username(ng-controller='AuthController')
        | {{ username }}
      div
        a(class='btn btn-default' href='#settings' title='personal Page') Settings
        a(class='btn btn-default' data-toggle='modal' data-target='#createAlbum') Create album
        a(class='btn btn-default' href='#albums') Albums
        a(class='btn btn-default' href='#upload') Upload photo
        a(class="btn btn-default" href="users/logout") Logout
    // Modal window
    div(class='modal fade' id='createAlbum' tabindex='-1' role='dialog' aria-labelledby='createAlbum')
      div(class='modal-dialog' role='document')
        div(class="modal-content")
          div(class='modal-body')
            form
              div(class='form-group')
                input(type='text' class='form-control' id='recipient-name' ng-model='albumname')
          div(class='modal-footer')
            button(type='button' class='btn btn-default' data-dismiss='modal') Close
            button(type='button' class='btn btn-primary') Create album

div.content(ng-controller="ImagesController")
  div(ng-repeat="item in data")
    .col-sm-6.col-md-4.col-lg-3
      .thumbnail
        a(href="# {{ item.url }}")
          img(ng-src="download/?{{ item.url }}")
        .caption(ng-controller='CommentController')
          .username Jonh Smith
          a(class="like" href="#")
            span.glyphicon.glyphicon-heart
            span {{}}
          a(class="comment" href="" ng-click='view()')
            span.glyphicon.glyphicon-comment
            span {{}}
          .comment-block(ng-if='data.length')
            div.comment-users(ng-repeat='item in data')
              p {{item.username}}
              p {{item.comments}}
            .comment-add
              form(name='commentForm' ng-submit='commentForm.$valid && send()')
                textarea(ng-model='$parent.comment' placeholder="Your {{ successMessage }}" required)
                input(type='submit' class='btn btn-primary' value='Add comment' required)