extends layout

block styles
  // Bootstrap
  link(href='css/libs/bootstrap.min.css' rel='stylesheet')
  link(href='css/main.css' rel='stylesheet')
  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  // [if lt IE 9]>
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')<![endif]
block scripts
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='js/libs/jquery.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='js/libs/bootstrap.min.js')
  script(src='js/libs/angular.min.js')
  script(src='js/libs/angular-route.min.js')
  script(src='js/libs/angular-file-upload.min.js')
  script(src='js/app.module.js')
  script(src='js/signup.controller.js')
  script(src='js/main.controller.js')
  script(src='js/auth.controller.js')
  script(src='js/personal.controller.js')
  script(src='js/comment.controller.js')
  script(src='js/upload.controller.js')
  script(src='js/images.controller.js')
  script(src='js/admin.controller.js')
block content
  header
    a(href='#/')
      h1
        | Photoblog
    .auth
      a(class='btn btn-info' href='/products' title='Test authentication') Products
      a(class="btn btn-success" href="#login" role="button") Sign In
      a(class="btn btn-primary" href="#signup" role="button") Sign Up
  .container-fluid(ng-controller='MainController')
    div(ng-view)