head
  meta(charset='utf-8')
  title= title
  meta(http-equiv='X-UA-Compatible" content="IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  block styles
  block scripts
doctype html
html(ng-app='app')
  body
    block content
