block content
  div(class="form" ng-controller='AuthController')
    span(ng-class="success ? 'valid' : 'invalid'") {{ success }}
    form(class='form-group' name='logInForm' ng-submit='logInForm.$valid && send()')
      div(class="form-group")
        label(for="email") Email
        input(type="email" class="form-control" id="email" placeholder="Email" ng-model='email' required)
      div(class="form-group")
        label(for="password") Password
        input(type="password" class="form-control" id="password" placeholder="Password" ng-model='password' required)
      input(class="btn btn-primary" type='submit' value='Log in')