block content
 .row.sidebar
  aside
   div(class='personal-block')
    p(class='text-center')
     div.avatar
      img(width='128' height='128' src='image/bart.gif')
    p.username(ng-controller='AuthController')
     | {{ username }}
    div
     a(class='btn btn-default' data-toggle='modal' data-target='#createAlbum') Create album
     a(class='btn btn-default' href='#albums') Albums
     a(class='btn btn-default' data-toggle='modal' data-target='#uploadPhoto') Upload photo
     a(class="btn btn-default" href="users/logout") Logout
   // Modal window
   div(class='modal fade' id='createAlbum' tabindex='-1' role='dialog' aria-labelledby='createAlbum')
    div(class='modal-dialog' role='document')
     div(class="modal-content")
      div(class='modal-body')
       form
        div(class='form-group')
         input(type='text' class='form-control' id='recipient-name' ng-model='albumname')
      div(class='modal-footer')
       button(type='button' class='btn btn-default' data-dismiss='modal') Close
       button(type='button' class='btn btn-primary') Create album

   div(class="form-upload form-group modal fade" id='uploadPhoto' ng-controller='UploadController')
    div(class='modal-dialog' role='document')
     div(class="modal-content")
      div(class='modal-body')
       label(for="file") Upload file
       input(type="file" class="form-control" id='file' nv-file-select uploader="uploader")
       ul
        li(ng-repeat="item in uploader.queue")
         | Name:
         span.title-photo(ng-bind="item.file.name")
         button(class="btn btn-primary btn-custom" ng-click="item.upload()") Upload