block content
  div(class='form' ng-controller='SignUpController')
    span(ng-class="success ? 'valid' : 'invalid'") {{ success || unsuccess }}
    form(class='form-group' name='signUpForm' ng-submit='signUpForm.$valid && send()')
      div(class='form-group')
        label(for='userName') First Name
        input(type='text' ng-model='username' class='form-control' id='userName' placeholder="Username" name='username' ng-minlength='3' ng-maxlength='20' required)
      div(class="form-group")
        label(for="email") Email
        input(type="email" ng-model='email' class="form-control" id="email" placeholder="Email" name='email' required)
      div(class="form-group")
        label(for="password") Password
        input(type="password" ng-model='password' class="form-control" id="password" placeholder="Password" name='password' ng-minlength='6' required)
        span {{ ok }}
      div(class="form-group")
        input(class="btn btn-success" type='submit' value='Sign up')