block content
  div(class="form form-group" ng-controller='UploadController')
    label(for="file") Upload file
    input(type="file" class="form-control" id='file' nv-file-select uploader="uploader")
    ul
      li(ng-repeat="item in uploader.queue")
        | Name:
        span(ng-bind="item.file.name")
        button(class="btn btn-primary" ng-click="item.upload()") Upload