@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #ccc;
  text-decoration: none;
}

header {
  margin-bottom: 40px;
  padding: 15px 20px;
  background: #303f9f;
  overflow: hidden;
}

header h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  float: left;
}

/*Content*/
.content {
  width: 75%;
  overflow: hidden;
}

/*Sidebar*/
.sidebar {
  margin-right: 50px;
  width: 20%;
  border-right: 1px solid #ebebeb;
  float: left;
}

/*Auth*/
.auth {
  float: right;
}

.auth a {
  margin: 2px 10px 0;
}

/*Comments*/
.comment-block {
  margin: 10px 0 0;
  padding: 10px;
  border-top: 1px solid #b6b6b6;
}

.comment-block textarea {
  margin: 10px 0;
  width: 100%;
  resize: vertical;
}

.comment-users p:first-child {
  color: #FF5722;
}

.comment-users p:last-child {
  border-bottom: 1px solid #b6b6b6;
}

/*Form*/
.ng-invalid.ng-dirty {
  border-color: #fa787e;
}

.ng-valid.ng-dirty {
  border-color: #78fa89;
}

.form {
  padding: 20px;
  margin: 10% auto 0;
  width: 400px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.form-upload {
  margin-top: 10%;
  border-radius: 4px;
}

.form-search {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.form .btn {
  width: 100%;
}

.valid,
.invalid {
  display: block;
  margin: 0 auto 15px;
  text-align: center;
  font-weight: bold;
}

.invalid {
  color: #ef333b;
}

.valid {
  color: #4acc5b;
}

.username {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.comment {
  float: right;
}

.glyphicon {
  margin: 0 10px 0 0;
  top: 5px;
  font-size: 22px;
}

.block {
  background: #F9F989;
}

.remove {
  background: #F5A7A7;
}

input[type="checkbox"] {
  margin-right: 20px;
}

tbody p {
  font-size: 14px;
}

tbody tr td:first-child {
  vertical-align: middle;
  text-align: center;
}

.avatar,
.username {
  margin: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.avatar img {
  width: 120px;
  height: 120px;
}

.sidebar .btn,
.sidebar .btn-default {
  display: block;
  margin: 0 20px 20px;
}

input[type="file"] {
  margin-bottom: 20px;
}

.form-upload .btn-custom {
  display: block;
  margin: 20px 0 0;
  width: 100%;
}